[project]
	description = JJaem's development shell tools
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/JaeMinKim
[access "refs/for/refs/*"]
	read = group user/JaeMinKim
	push = group user/JaeMinKim
	label-Code-Review = -2..+2 group user/JaeMinKim
	label-Verified = -1..+1 group user/JaeMinKim
	rebase = group user/JaeMinKim
	removeReviewer = group user/JaeMinKim
	submit = group user/JaeMinKim
[access "refs/heads/*"]
	read = group user/JaeMinKim
	create = group user/JaeMinKim
	push = +force group user/JaeMinKim
	pushMerge = group user/JaeMinKim
[access "refs/tags/*"]
	push = +force group user/JaeMinKim
	pushTag = group user/JaeMinKim
	pushSignedTag = group user/JaeMinKim
